<h1>New Friend</h1>
<style>
.add{
  min-height:250px;
  margin:10px;
  background-color:#eee;
  border-radius:10px;
}
h3{
  border-bottom:1px solid #ccc ;
}
</style>
<div class="add col-md-8 table-bordered" >
<h3>Add New Friend</h3>

<%= form_for(@friend) do |f| %>
  <% if @friend.errors.any? %>
    <div class="alert alert-success" id="notice">
      <h2><%= pluralize(@friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= hidden_field_tag :user_id, current_user.id %>
  <div class="field">

    <%= f.label :user %><br>
    <%= f.collection_select(:friend_id,User.all,:id,:name, { :prompt => "Select friend"},class: "form-control")  %>
  </div>
  <div class="actions">
    <%= f.submit "Add", class:"btn btn-default btn-primary"  %>
  </div>
 </div>
<% end %>


<%= link_to 'Back', orders_path %>
</div>

<%= link_to 'back to friends', friends_path %>


