<p id="notice"><%= notice %></p>

<h1>Order Details</h1>

<table class=" table table-striped" >
  <thead>
    <tr>
      <th>Person</th>
      <th>Item</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |order_detail| %>
      <tr>
         <td><%= order_detail.user.name %></td>
        <td><%= link_to order_detail.item, order_detail %></td>
        <td><%= order_detail.amount %></td>
        <td><%= order_detail.price %></td>
        <td><%= order_detail.comment %></td>
        <td><%= link_to 'Edit', edit_order_detail_path(order_detail),class: 'btn btn-info' %></td>

<td><%= link_to 'Show', order_detail , remote: true, :"data-toggle" => 'modal', :"data-target" => '#myModal'%></td>
        <td><%= link_to 'Destroy', order_detail, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% @orderId.each do |ore| %>
<% if ore.status %>

  <br>
  <%= form_for :order_detail do |f| %>
    <table class=" table table-striped" >
    <thead>
      <tr>
        <th><%= f.label :item %></th>
        <th><%= f.label :amount %></th>
        <th> <%= f.label :price %></th>
        <th><%= f.label :comment %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td> <%= f.text_field :item, :required => true %></td>
          <td> <%= f.number_field :amount, :required => true %></td>
          <td> <%= f.text_field :price, :required => true %></td>
          <td><%= f.text_area :comment %></td>
           <%= f.hidden_field :order_id, :value => params[:order_id] %>
           <%= f.hidden_field :user_id, :value => current_user.id %>
          <td><%= f.submit :add ,class: 'btn btn-primary'%></td>

        </tr>
    </tbody>
  </table>
  <% end %>
  <% else %>
  <% end %>
<% end %>

<%= link_to "#{@order_details.count} friends invited click to view",order_details_path, style: "color:blue" %><br>
<%= link_to "#{@order_details.count} friends joined click to view",order_details_path, style: "color:blue" %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" width='100'></div>