<h1>New Group Member</h1>

<%= form_for(@group_member) do |f| %>
  <% if @group_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_member.errors.count, "error") %> prohibited this group_member from being saved:</h2>

      <ul>
      <% @group_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.text_field :group_id , class:"form-control"%>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Add Memebrs", class= "btn btn-default btn-primary"  %>
  </div>
<% end %>

<%= link_to 'Back', group_members_path %>
