<p id="notice"><%= notice %></p>

<h1>My Groups</h1>


    <% @groups.each do |group| %>
      <ul>
        <li><%= group.name %></li>
        <li>
            <ul>
              <%= group.group_members.each  do |groupmember| %>
                <li><%= groupmember.user.name.inspect %></li>
              <% end %>
            </ul>
        </li>
      </ul>
        <%= link_to 'Show', group %>
        <%= link_to 'Edit', edit_group_path(group) %>
        <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
<%= link_to 'New Group', new_group_path %>
