<style>

.divcontainer{
  height:330px;
  margin:10px;
  width:80%;
  background-color:#eee;
  border-radius:10px;
  overflow: scroll;
  padding: 10px;
  padding-top:5px;

}
h3{
  border-bottom:1px solid #ccc ;
}
.order{
  background-color:#fff;
  border-radius:2px;
  width:90%;
   border-bottom:1px solid #ccc ;
   overflow:hidden;
   padding:5px;
   padding-left: 10px;
   margin:2px;
   margin-top:8px;
   box-shadow:3px 3px 10px #333;

}
  .order:hover
  {
    background-color:#ccc;
  }
  .buttons > a , .link > i
  {
    margin-left:5px;
    font-size:16px;
    margin-top:20px;
    color:#333;
  }
   .link > i
  {

    margin-top:0px;
  }
  .buttons > a:hover, .link > i:hover
  {
    background-color:#eee;
    color:black;
  }
  .red
  {
    color:red;
  }
  .blue
  {
    color:blue;
  }
  .green
  {
    color:green;
  }
.user
{
  border-top:1px solid #bbb;
  width:100%;
  overflow:hidden;
  margin:10px 0px;
}
.order-user{
  background-color:#fff;
  border-radius:2px;
  width:12%;
   overflow:hidden;
   padding:5px;
   padding-bottom:0px;
   margin:5px;
   box-shadow:3px 3px 10px #333;

}
</style>
<p id="notice"><%= notice %></p>
<%= link_to 'New Group', new_group_path,  class:"pull-right btn btn-sm btn-default"%>
<h1>My Groups</h1>
      <div class="divcontainer">
        <div class="buttons col-md-6 pull-right">
            
            <%= link_to @group,class:"pull-right green", method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-close"></i><% end %>
            <%= link_to edit_group_path(@group),class:"pull-right" do %><i class="fa fa-pencil-square-o"></i><% end %>       
            
        </div>

        <h3><%= @group.name %>
          
        </h3>

        <% @group.group_members.each  do |groupmember| %>
          <div class="order">
          <p><%= groupmember.user.name %>  
          <%= link_to 'X', groupmember, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-sm btn-danger pull-right"%></p>
          </div>
        <% end %>
        <div class="user">
          <h4> Friends Out Of Group: </h4>
        <% @friend_users.each  do |fr|%>
          <div class="order-user">
            <%= form_for([GroupMember.new]) do |f| %>
              <%= hidden_field_tag :group_id, @group.id %>
              <%= hidden_field_tag :user_id, fr.id %>
              <%= fr.name %>  
              <%= f.submit "+" , class: "btn btn-sm btn-primary" %>
            <% end %>

          </div>

        <% end %>
        </div>
      </div>
        
      </tr>
