<style>

.divcontainer{
  height:330px;
  margin:10px;
  background-color:#eee;
  border-radius:10px;
  overflow: scroll;
}
h3{
  border-bottom:1px solid #ccc ;
}
.order{
  background-color:#FFFFA0;
  border-radius:2px;
   border-bottom:1px solid #ccc ;
   overflow:hidden;
   padding:5px;
   padding-left: 10px;
   margin:2px;
   margin-top:8px;
   box-shadow:3px 3px 10px #333;;

}
  .order:hover
  {
    background-color:#EEC450;
  }
</style>
<% if notice %>
<div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>
<div class="col-md-6">
  <%= link_to 'End & Out', '/users/sign_out', method: :delete,class:"btn btn-default btn-sm" %>
  <%= link_to 'Start Order', '/orders/new', method: :get ,class:"btn btn-default btn-sm" %>
</div>
<div class="col-md-6">
  <%= link_to 'Create Group', '/groups/new', method: :get ,class:"btn btn-default btn-sm pull-right" %>
</div>

<!-- <div clas="table-responsive">
  

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.password %></td>
          <td><%= user.image %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> -->
<!-- latest orders -->
  <div class="clearfix"></div>
  <div class="clearfix"></div>
  <div class="divcontainer col-md-6 table-bordered" >
    <h3><i class="fa fa-cart-plus" aria-hidden="true"></i>   latest orders</h3>

    <% @orders.each do |order| %>
    <div class="order">
      <h4>
        <i class="fa fa-paperclip" aria-hidden="true"></i>  <%= order.name %>
      </h4>
      <p>
        <i class="fa fa-home" aria-hidden="true"></i>  <%= order.resturant %>
      </p>
      <p>
        <i class="fa fa-clock-o" aria-hidden="true"></i>  <%= order.created_at %>
      </p>
    </div>
    <% end %>
  </div>
  <!-- friend Activity -->
  <div class="divcontainer col-md-5 table-bordered">
    <h3><i class="fa fa-flash" aria-hidden="true"></i>    Friend Activity</h3>
  </div>

  <div class="clearfix"></div>


