
<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class=" table table-striped" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Resturant</th>
      <th>invited</th>
      <th>join</th>
      <th>Status</th>

      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.resturant %></td>
        <% @count=OrderMember.where(order_id: order.id).count %>
        <td><%= @count %></td>
        <% @join=OrderMember.where(order_id: order.id,status_user: true).count %>
        <td><%= @join %></td>
        
        <% if order.status? %>
        <td>Waiting</td>
        <% else %>
        <td>Finish</td>
        <% end %>
        <td><%= link_to 'Show', '/orders/'+order.id.to_s+'/order_details',class: 'btn btn-primary'  %></td>
        <% if order.status? %>
        <td><%= link_to 'Finish',
           finsh_path(order),
           class: 'btn btn-info' %>
        </td>
        <td><%= link_to 'Add Friend', '/orders/'+order.id.to_s,class: 'btn btn-primary'  %></td>
         <% else %>
         <td><span>finshed</span></td>
         <td><span>canot add friend</span></td>
         <% end %>
        <td><%= link_to 'cancel', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<script type="text/javascript">
  
<%= link_to 'New Order', new_order_path , class: 'btn btn-success' %>

</script>
