<p id="notice"><%= notice %></p>

<h1>Listing Order Members</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>User</th>
      <th>Status user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_members.each do |order_member| %>
      <tr>
        <td><%= order_member.order %></td>
        <td><%= order_member.user %></td>
        <td><%= order_member.status_user %></td>
        <td><%= link_to 'Show', order_member %></td>
        <td><%= link_to 'Edit', edit_order_member_path(order_member) %></td>
        <td><%= link_to 'Destroy', order_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order member', new_order_member_path %>
